@{
    ViewBag.Title = "Reset Password";
}

<h2>Reset Your Password</h2>

@if (TempData["Message"] != null)
{
    <div style="color: green">@TempData["Message"]</div>
}

@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
{
    @Html.Hidden("Email", ViewBag.Email as string)

    <label>New Password:</label>
    <br />
    <input type="password" name="NewPassword" required />
    <br />
    <br />

    <label>Confirm Password:</label>
    <br />
    <input type="password" name="ConfirmPassword" required />
    <br />
    <br />

    <input type="submit" value="Reset Password" />
}
